<%
user = typeof user !== "undefined" ? user : {};
//const places = typeof _places !== "undefined" ? _places : null;
const pageTitle = typeof _pageTitle != "undefined" ? _pageTitle : 'Reservations App';

%>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/9130d8f41f.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/layout-logged.css"/>
    <title><%= pageTitle %></title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="/">
            <img src="/uploads/logo.png" width="150px" class="d-inline-block align-top" alt="">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/explore">Explore</a>
                </li>
            </ul>
        </div>

        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="profile-pic-circle d-inline mr-1"
                     src="<%= '/uploads/' + user.profilePic || 'https://media.geeksforgeeks.org/wp-content/uploads/20200630132503/iflag.jpg' %>"
                     width="30" height="30">
                <%= user.firstName + ' ' + user.lastName %>
            </button>
            <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/explore">Explore</a>
                <a class="dropdown-item" href="/users/profile">Profile</a>
                <%- `<a href="/users/edit/${ user.id }" class="dropdown-item"> Edit profile </a>` %>
                <a class="w-100 btn btn-outline-danger btn-sm" href="/users/logout">Logout</a>
            </div>
        </div>
</nav>

<div>
    <%- body %>
</div>

<!-- Custom script -->
<script type="text/javascript" src="/js/script.js"></script>
    <!-- Feather icons -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>