<%
    user = typeof user !== "undefined" ? user : {};
    items = typeof items !== "undefined" ? items : [];
    reservations = typeof reservations !== "undefined" ? reservations : [];

    let formatEur = new Intl.NumberFormat(undefined, {
        style: 'currency',
        currency: 'EUR'
    });

    const dayMapper = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'];

%>
<div class="container">
    <div class="row p-4">
        <div class="col-content">
            <div class="">
                <img src="<%= user.profilePic %>" alt="profile picture" width="200px">
            </div>
        </div>
        <div class="col pl-4 pr-0" style="position:relative;">
            <div class="text-right">
                <%- `<a href="/users/edit/${ user.id }" class="btn btn-primary btn-sm"> Edit profile </a>` %>
                <a href="/users/logout" class="btn btn-outline-danger btn-sm">Logout</a>
            </div>
            <div class="" style="position:absolute;bottom:0;">
                <h4><%= `${user.firstName} ${user.lastName}` %></h4>
                <div class="row">
                    <div class="col-12 col-md-auto">
                        <i class="fas fa-envelope mr-2"></i>
                        <span class="text-secondary"><%= user.email %></span>
                    </div>
                    <div class="col-12 col-md-auto">
                        <i class="fas fa-phone mr-2"></i>
                        <span class="text-secondary"><%= user.phone %></span>
                    </div>
                    <div class="col-12 col-md-auto">
                        <i class="fas fa-map-marker-alt"></i>
                        <span style="margin-left:4px;" class="text-secondary"><%= `${user.address}, ${user.postalCode} ${user.city}` %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    My items
    <hr class="m-0">
    <div class="d-flex flex-row flex-nowrap horizontal-scroll py-2">
        <%
        for(let i = 0; i < items.length; i++){
            let item = items[i];
        %>
        <div class="col-3 p-0 pr-3">
            <div class="card card-block">
                <div class="card-img-top clickable-card">
                    <img class="" src="<%= item.image || 'defaultItem.png' %>" alt="items image">
                    <a href="/explore/<%= item.id %>" class="border click-this"></a>
                </div>
                <div class="card-body clickable-card">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-title text-nowrap text-truncate"><%= item.title || '- title missing -' %></h6>
                        </div>
                    </div>
                    <a href="/explore/<%= item.id %>" class="border click-this"></a>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <div>
                        <a class="btn btn-sm btn-outline-danger waves-effect px-3" href="/explore/delete/<%=  item.id %>"
                           role="button"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                        <a class="btn btn-sm btn-outline-secondary waves-effect px-3" href="/explore/edit/<%=  item.id %>"
                           role="button"><i class="fas fa-pen" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <%
        }
        %>
    </div>

    My reservations
    <hr class="m-0">
    <div class="d-flex flex-row flex-nowrap horizontal-scroll py-2">
        <%
        for(let i = 0; i < reservations.length; i++){
            let item = reservations[i];

            let d = dayMapper[item.day - 1];
            let startH = item.hours[0];
            let endH = item.hours[item.hours.length - 1] + 1;
        %>
        <div class="col-3 p-0 pr-3">
            <div class="card card-block">
                <div class="card-img-top clickable-card">
                    <img class="" src="<%= item.data.image || 'defaultItem.png' %>" alt="items image">
                    <a href="/explore/<%= item.itemId %>" class="border click-this"></a>
                </div>
                <div class="card-body clickable-card">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-title text-nowrap text-truncate"><%= item.data.title || '- title missing -' %></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-title text-nowrap text-truncate"><%= d %>, <%= startH %>:00 - <%= endH %>:00</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-title text-nowrap text-truncate">Cost: <%= formatEur.format(item.totalCost) %></p>
                        </div>
                    </div>
                    <a href="/explore/<%= item.itemId %>" class="border click-this"></a>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <div>
                        <a class="btn btn-sm btn-outline-danger waves-effect px-3" href="/explore/reservation/delete/<%=  item._id %>"
                           role="button"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <%
        }
        %>
    </div>
</div>
