<div class="row mt-5">
    <div class="col-md-8 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Register
            </h1>
            <form action="/users/register" method="POST">
                <div class="row">
                    <div class="col">

                        <div class="form-group">
                            <label for="firstName">First name</label>
                            <input
                                    type="text"
                                    id="firstName"
                                    name="firstName"
                                    class="form-control"
                                    placeholder="Enter first name"
                                    value="<%= typeof firstName != 'undefined' ? firstName : '' %>"
                            />
                        </div>
                    </div>
                    <div class="col">

                        <div class="form-group">
                            <label for="lastName">Last name</label>
                            <input
                                    type="text"
                                    id="lastName"
                                    name="lastName"
                                    class="form-control"
                                    placeholder="Enter last name"
                                    value="<%= typeof lastName != 'undefined' ? lastName : '' %>"
                            />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input
                                    type="email"
                                    id="email"
                                    name="email"
                                    class="form-control"
                                    placeholder="Enter Email"
                                    value="<%= typeof email != 'undefined' ? email : '' %>"
                            />
                        </div>
                    </div>
                    <div class="col">

                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input
                                    type="text"
                                    id="phone"
                                    name="phone"
                                    class="form-control"
                                    placeholder="Enter phone"
                                    value="<%= typeof phone != 'undefined' ? phone : '' %>"
                            />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input
                                    type="text"
                                    id="address"
                                    name="address"
                                    class="form-control"
                                    placeholder="Enter address"
                                    value="<%= typeof address != 'undefined' ? address : '' %>"
                            />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="postalCode">Postal code</label>
                            <input
                                    type="text"
                                    id="postalCode"
                                    name="postalCode"
                                    class="form-control"
                                    placeholder="Enter postal code"
                                    value="<%= typeof postalCode != 'undefined' ? postalCode : '' %>"
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input
                            type="text"
                            id="city"
                            name="city"
                            class="form-control"
                            placeholder="Enter city"
                            value="<%= typeof city != 'undefined' ? city : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                            placeholder="Create Password"
                            value="<%= typeof password != 'undefined' ? password : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input
                            type="password"
                            id="password2"
                            name="password2"
                            class="form-control"
                            placeholder="Confirm Password"
                            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                    />
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Register
                </button>
            </form>
            <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
        </div>
    </div>
</div>