<%
user = typeof user !== "undefined" ? user :  {};
items = typeof items !== "undefined" ? items : [];
openDialog = typeof openDialog !== "undefined" ? openDialog : null;

// Create our number formatter.
var formatEur = new Intl.NumberFormat(undefined, {
    style: 'currency',
    currency: 'EUR',

    // These options are needed to round to whole numbers if that's what you want.
    //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
    //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
});
%>
<script>
    let openDialog = JSON.parse('<%- JSON.stringify(openDialog) %>');
</script>

<div id="mySidebar" class="sidebar">
    <a href="#">Sport courts</a>
    <a href="#">Vehicles</a>
    <a href="#">Items</a>
    <a href="#">Services</a>
</div>

<div id="main">
    <%- include('../partials/dialog-add'); %>
    <div class="top-bar">
        <div class="row h-100 align-items-end">
            <div class="col">
                <h5 id="heading-explore">Sport courts</h5>
            </div>
            <div class="col text-right">
                <div id="add-dialog-open" class="btn btn-primary btn-sm">Add +</div>
            </div>
        </div>
    </div>
    <hr style="margin: 0px 20px;">
    <div class="content">
        <div id="myPlaces">
            <div class="d-flex flex-row flex-nowrap horizontal-scroll py-3">
                <%
                    let myItems = items.filter(x => {
                        if(x.ownerId){
                            return x.ownerId.toString() === user._id.toString();
                        } else {
                            return false;
                        }
                    });

                    for(let i = 0; i < myItems.length; i++){
                        let item = myItems[i];
                %>
                <div class="col-3 p-0 pr-3">
                    <div class="card card-block">
                        <div class="card-img-top clickable-card">
                            <img class="" src="/uploads/<%= item.image || 'defaultItem.png' %>" alt="items image">
                            <a href="/explore/<%= item.id %>" class="border click-this"></a>
                        </div>
                        <div class="card-body clickable-card">
                            <div class="row">
                                <div class="col">
                                    <h6 class="card-title"><%= item.title || '- title missing -' %></h6>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-euro-sign"></i>
                                    <span style="margin-left:4px;" class="text-secondary"><%= `${formatEur.format(item.price)}/${item.pricePer}` %></span>
                                </div>
                            </div>
                            <i class="fas fa-map-marker-alt"></i>
                            <span style="margin-left:4px;" class="text-secondary"><%= item.address %></span>
                            <a href="/explore/<%= item.id %>" class="border click-this"></a>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <small class="text-muted">Last updated 3 mins ago</small>
                            <div>
                                <a class="btn btn-sm btn-outline-danger waves-effect px-3" href="/explore/delete/<%=  item.id %>"
                                   role="button"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                <a class="btn btn-sm btn-outline-secondary waves-effect px-3" href="/explore/edit/<%=  item.id %>"
                                   role="button"><i class="fas fa-pen" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <%
                    }
                %>
            </div>

            <div class="d-flex flex-row flex-wrap horizontal-scroll py-3">
                <%
                let otherItems = items.filter(x => {
                    if(x.ownerId){
                        return x.ownerId.toString() !== user._id.toString();
                    } else {
                        return true;
                    }
                });

                for(let i = 0; i < otherItems.length; i++){
                    let item = otherItems[i];
                %>
                    <div class="col-3 p-0 pr-3">
                        <div class="card card-block clickable-card">
                            <img class="card-img-top" src="/uploads/<%= item.image || 'defaultItem.png' %>" alt="items image">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="card-title"><%= item.title || '- title missing -' %></h6>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-euro-sign"></i>
                                        <span style="margin-left:4px;" class="text-secondary"><%= `${formatEur.format(item.price)}/${item.pricePer}` %></span>
                                    </div>
                                </div>
                                <i class="fas fa-map-marker-alt"></i>
                                <span style="margin-left:4px;" class="text-secondary"><%= item.address %></span>

                                <a href="/explore/<%= item.id %>" class="border click-this"></a>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <small class="text-muted">Last updated 3 mins ago</small>
                                <small class="text-muted">by <%= item.ownerData.name %></small>
                            </div>
                        </div>
                    </div>
                <%
                    }
                %>
            </div>
        </div>

<!--        <div id="allPlaces">-->
<!--        </div>-->
    </div>
</div>